/* 전체 페이지 배경 및 정렬 */
.login-page {
  width: 100vw;
  height: 100vh;
  background-color: #3c5aff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/* 상단 로고 */
.login-header {
  padding: 1rem 2rem;
  text-align: left;
}

.login-logo {
  width: 80px;
  height: 80px;
}

/* 본문 */
.login-main {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: row;
  gap: 10rem;
}

/* 왼쪽 메시지 영역 */
.login-left {
  text-align: center;
}

.login-message {
  color: white;
  font-size: 48px;
  font-weight: bold;
  line-height: 68px;
}

/* 오른쪽 로그인 영역 */
.login-right {
  align-items: center;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 410px;
}

/* 로그인 박스 */
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.54rem 0;
}

/* 로그인 타이틀 */
.login-title {
  font-size: 22px;
  font-weight: 700;
  color: #222;
  line-height: 1.6;
  margin-bottom: 32px;
}

/* 로그인 버튼 */
.login-button {
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
}

/* 하단 자동 로그인 / 회원가입 */
.login-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #555;
}

.signup-link {
  color: #3c5aff;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-main {
    flex-direction: column;
    gap: 30px;
    height: 80%;
  }
}
