header {
  width: 100%;
}

.pc-header {
  justify-content: space-between;
  width: 90%;
  padding-top: 20px;
  margin: auto;
  position: relative;
}

.mo-header {
  justify-content: space-between;
  width: 90%;
  padding-top: 20px;
  margin: auto;
}

.title {
  font-size: 1.5rem;
}

.submenu {
  display: flex;
  justify-content: space-between;
  width: 12%;
  align-items: center;
  gap: 20px;
}

.alarm {
  cursor: pointer;
  position: relative;
}

.mypage {
  cursor: pointer;
}

.room {
  cursor: pointer;
}

.submenu span {
  font-size: 3rem;
}

.mypage span {
  font-size: 3rem;
}

.room span {
  font-size: 3rem;
}

.delete-btn-list,
.rejected-btn {
  padding: 2px 4px;
  background-color: #f44336;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  margin: auto 0;
}

.invite-btn-list {
  padding: 2px 4px;
  background: #5700e2;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  margin: auto 0;
}

.edit-btn-list,
.accepted-btn {
  padding: 2px 4px;
  background: #ffcd00;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  margin: auto 0;
}

.badge {
  background-color: #e0e0e0;
  color: #555;
  padding: 2px 6px;
  margin-left: 8px;
  font-size: 12px;
  border-radius: 10px;
}

.team-name {
  display: inline-block;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.group-btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.room-list {
  padding: 10px 5px;
  min-width: 200px;
}

.invite-btn-list,
.edit-btn-list,
.delete-btn-list {
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.delete-btn-list {
  background-color: #f44336;
  color: #fff;
}

.delete-btn-list:hover {
  background-color: #d32f2f;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  z-index: 1;
  box-shadow: 0 0 0 1px white;
  font-size: 0.8rem !important;
}

@media (max-width: 767px) {
  .mo-header {
    display: flex;
  }

  .pc-header {
    display: none;
  }
}

@media (min-width: 768px) {
  .mo-header {
    display: none;
  }

  .pc-header {
    display: flex;
  }
}
